# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environnement
.env
*.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtualenv
venv/
ENV/
env/
.venv/

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Pytest / coverage
htmlcov/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.cache

# Type checking
.mypy_cache/
.pytype/
.pyre/

# Render (fichiers temporaires ou PID)
*.pid
*.tar
