__pycache__/
*.py[cod]
*.sqlite3

# Environnement virtuel
env/
venv/
ENV/
VENV/

# Fichiers système
.DS_Store
.vscode/
.idea/

# Fichiers de config/env
*.env
.env

# Logs et temporaires
*.log
*.tmp
*.bak
*.swp
*.swo

# Fichiers de migration
**/migrations/*.py
!**/migrations/__init__.py

