{% extends 'base.html' %}
{% block title %}Payment{% endblock %}
{% block content %}
<h1>Bezahlung</h1>
    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Bezahlen</button>
    </form> -->
<h2 class="text-center">Payment Details</h2>
<div class="card mx-auto mt-4" style="max-width: 600px;">
    <div class="card-body">
        <h5>Order ID: {{ payment.order.id }}</h5>
        <p>Amount: ${{ payment.amount }}</p>
        <p>Status: {{ payment.status }}</p>
        <p>Date: {{ payment.created_at }}</p>
    </div>
</div>
{% endblock %}
